.dialog {
    border-radius: 1vh;
    pointer-events: none;

    [role="dialog"] {
        border-radius: 1vw;
        overflow-y: hidden;
    }

    &.small{

    }

    &.big{

    }

    .drag{
        cursor: move;
        pointer-events: auto;
    }

    #draggable-dialog-title {
        display: flex;
        align-items: center;

        background: var(--yellow);
        background: linear-gradient(41deg, var(--yellow) 0%, var(--red) 100%);
        color: white;
        font-family: 'Pixelify Sans', sans-serif;

        img {
            height: 3vh;
            margin-right: 1vh;
            draggable: false;
        }
    }

    #draggable-dialog-content {
        padding: unset;
        overflow: unset;
    }
}
