#game {
    --size: 50vw;
    --speed: 1000ms;

    height: 100vh;

    overflow: hidden;

    header {
        z-index: 10;
        position: absolute;
        height: 10vh;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;


        .left,.right{
            display: flex;
            align-items: center;

            margin-left: 2vw;
            margin-right: 2vw;

            .icon {
                background-color: rgba(255, 255, 255, 0.8);
                z-index: 100;
                &:hover{
                    background-color: white;
                }

                img {
                    height: 3vh;
                }

                &.left {

                }
            }

            .part {
                padding: 2vh;
                font-family: 'Pixelify Sans', sans-serif;
                color: var(--yellow);
                font-size: 2rem;
            }
        }





    }

    #up{
        height: 100%;
        background-color: #86a4ea;
        display: flex;
        align-items: center;
        justify-content: center;

        #sun {
            margin-top: 10vw;
            height: var(--size);
            width: var(--size);
            background-color: var(--yellow);
            border-radius: 50%;
            box-shadow: 0 0 5vw 5vw #fdd349;
        }
    }

    #down{
        position: absolute;
        bottom: 0;
        height: 40%;
        width: 100%;
        background-color: gray;

        overflow: hidden;

        display: flex;
        align-items: start;
        justify-content: center;

        --car-top : 2vh;
        --car-width : 27rem;
        img#car {
            -webkit-transform: scaleX(-1);
            position: absolute;
            animation: shake linear 250ms infinite;
            width: var(--car-width);
            &:hover {
                cursor: pointer;
                scale: 1.005;
                animation: shake linear 150ms infinite;
            }
        }

        #car-shadow{
            position: absolute;
            top: 15vh;
            height: 10%;
            width: calc(var(--car-width)*0.9 );
            border-radius: 20%;

            opacity: 0.5;
            background-color: black;
            box-shadow: 0 0 1vw 1vw black;
        }

        #road-line{
            position: absolute;
            top: 5vh;
            height: 5%;
            width: 10%;
            background-color: white;
            animation: road linear var(--speed) infinite;
        }

    }

    @keyframes shake {
        0% { top: 2vh}
        50% { top: 2.5vh}
        100% { top: 2vh}
    }

    @keyframes road {
        0% { transform: translateX(1000%)}
        100% { transform: translateX(-1000%)}
    }
}

.click_effect {
    position: absolute;
    pointer-events: none;
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
    font-size: 2rem;
    text-shadow: var(--yellow) 3px 3px 1vw;
    transition: opacity 0.5s;
}
.removed {
    opacity: 0;
}
